.container-services {
  padding-bottom: 100px;
}

.main-services {
  margin: 0;
  padding: 25px 15px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

@media only screen and (max-width: 950px) {
  .cards-wrapper {
    grid-template-columns: 30% 30% 30%;
  }
}

@media only screen and (max-width: 720px) {
  .cards-wrapper {
    grid-template-columns: 100%;
  }
}