/*
----- LAYOUT -----
*/

.container-adminpanel {
    padding-bottom: 100px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 720px) {
    .dashboard {
        margin-top: 30px;
    }
}

.dashboard :focus {
    outline: none !important;
}

.content {
    display: block;
    width: 100%;
    margin: 6px 10px;
    background-color: var(--main-fg-color);
    text-align: center;
    padding: 6px 10px;
}

/*
----- USERS -----
*/

/* Root div of the table */
.MuiTable-root {
}

/* Set colors of table header and tabs */
.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #00509e !important;
}

/* Flex table tabs */
.MuiTabs-flexContainer {
    display: flex;
    justify-content: center;
}

/* Table tabs underline */
.MuiTabs-indicator {
    background-color: yellow !important;
}