/*
----- GLOBAL/LAYOUT -----
*/

.container-service {
  padding-bottom: 100px;
}

/*
----- SERVICE -----
*/

.service-wrapper {
  width: 70%;
  border-radius: 5px;
  background-color: var(--main-fg-color);
  margin: 30px auto;
  padding: 1em 2em;
}

.service-top {
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  color: #404040;
}

.service-flex-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.service-title {
  margin: 0;
  line-height: 1;
}

.service-btn.edit {
  display: block;
  line-height: 1;
  background-color: white;
  color: #0265c8;
  border: 2px solid #fff;
  font-size: 1em !important;
  width: 1.2em;
  padding: 0;
  font-weight: lighter;
  letter-spacing: 1px;
}

.service-logo {
  margin: 0;
  width: 15%;
  height: auto;
  min-width: 100px;
  border-radius: 5px;
}

.service-wrapper hr{
  border: none;
  height: 1px;
  background-color: lightgrey;
}

.service-content {
  color: #404040;
}

.service-content p {
  margin: 0;
}

.service-flex-bottom {
  position: relative;
  margin-top: 50px;
}

.service-links {
  font-size: 1.2em;
  color: darkgrey;
}

.service-author.wrapper {
  text-align: right;
}

.service-author {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2em;
  color: darkgrey;
}

@media only screen and (max-width: 720px) {
  .service-wrapper {
    width: 95%;
  }
  .service-top {
    flex-direction: column;
  }
}

/*
----- TICKERS -----
*/

.ticker-wrapper {
  display: block;
  margin: 6px auto;
  width: 60%;
  text-align: left;
  padding: 6px 10px;
  /* max-height: 400px;
  overflow-y: auto; */
}

.ticker-title {
  background-color: #00509e;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ticker-btn-add {
  display: block;
  margin: 20px auto;
  width: 15%;
  height: 60px;
  background-color: #00509e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .ticker-wrapper {
    width: 100%;
  }
  .ticker-btn-add {
    width: 40%;
  }
}