/*
----- MAIN -----
*/

.topbar-container {
  height: 100%;
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid #cecece;
  background-color: var(--main-fg-color);
}

.topbar.right {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  border-bottom: none;
  width: 100%;
  padding-top: 25px;
}

@media only screen and (max-width: 720px) {
  .topbar-container {
    flex-direction: column;
    text-align: center;
  }
  .topbar.right {
    flex-direction: column;
  }
}

/*
----- LOGO -----
*/

.topbar-logo {
  position: relative;
  width: 37%;
  padding: 0 0 0 2em;
}

.topbar-logo a {
  position: absolute;
  display: block;
  bottom: 0;
}

.topbar-logo .logo {
  width: 100%;
  min-width: 200px;
  max-width: 340px;
  height: auto;
}

.topbar-beta {
  color: #b3b3b3;
  /* font-size: 3.2em; */
  font-size: 320%;
  margin-left: 2%;
  font-weight: 200;
}

.topbar-tjenestekatalog {
  color: black;
  /* font-size: 1.2em; */
  font-size: 120%;
  font-weight: 500;
  margin: 0 0 0 2em;
  /* letter-spacing: 0.55em; */
  letter-spacing: 0.6vw;
}

@media only screen and (max-width: 720px) {
  .topbar-logo {
    height: 70px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .topbar-logo a {
    position: relative;
  }
  .topbar-logo .logo {
    width: 70%;
  }
}

/*
----- SEARCH BAR -----
*/

.sb-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-width: 260px;
  max-width: 45%;
  opacity: 1;
}

@media only screen and (max-width: 720px) {
  .sb-wrapper {
    width: 100%;
    max-width: 100%;
  }
}

.search-bar {
  display: flex;
  width: 30%;
  opacity: 0;
  height: 2.4em;
  transition: opacity 500ms, width 500ms;
}

.search-bar.active {
  opacity: 1;
  width: 100%;
  min-width: 30%;
  transition: opacity 500ms, width 500ms;
}

.category-selector {
  font-size: 0.8em;
  width: 100% !important;
  margin: 0 3px 0 0 !important;
}

.css-yk16xz-control {
  min-height: 100% !important;
  height: 100% !important;
  width: 100%;
}

.input-field, .input-field input {
  width: 100%;
}

.input-search {
  height: 100%;
  width: 100%;
  padding: 2px 8px;
  font-size: 0.8em;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.fas.fa-search {
  width: 1.375em;
  height: 1.375em;
  padding: calc((2.2em - 1.375em) / 2) 0 0 8px;
  display: block;
  color: #00509e;
  font-size: 1.375em;
  cursor: pointer;
}

.fas.fa-search:hover {
  color: #1c7fe2;
}

/*
----- BUTTONS -----
*/

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-left: 10px;
}

.button-wrapper.responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.button-default {
  font-size: 0.95em;
  font-weight: 400;
  height: 2.4em;
  margin-right: 1em;
  background-color: white;
  color: black;
  border-style: none;
}

.logout {
  margin-right: 2em;
}

.hamburger-menu {
  position: absolute;
  color: #3a3a3a;
  right: 0;
  display: none;
  width: 100%;
  text-align: right;
  padding-right: 8px;
  font-size: 1.375em;
  background-color: var(--main-fg-color);
  border-bottom: 2px solid #cecece;
}

.button-default:hover {
  color: darkgrey;
  cursor: pointer;
}

.button-default:focus {
  outline: none;
}

@media only screen and (max-width: 720px) {
  .hamburger-menu {
    display: block;
  }
  .button-wrapper button {
    display: none;
  }
  .button-wrapper.responsive button {
    display: block;
    position: relative;
    top: 25px;
  }
  .button-wrapper.responsive .hamburger-menu {
    border-bottom: none;
  }
  .button-default {
    margin: 0;
  }
  .sb-wrapper {
    justify-content: flex-end;
  }
}
