.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 21.875em;
  width: 100%;
  background-color: var(--main-fg-color);
  border: 1px solid transparent;
  border-radius: 5px;
  border-bottom-width: 3px;
  border-color: #d0d1d5;
  overflow: hidden;
  text-align: center;
  padding-left: 0px;
  padding-bottom: 30px;
  font-weight: 200;
}

.card-wrapper:hover {
  border-color: #d2d3d6 #b7b8bd #babbc0;
}

/*
----- TOP -----
*/

.top {
  overflow: hidden;
  border-bottom: 1px solid #d0d1d5;
  height: 11.25em;
}

.icon {
  min-width: 250px;
  max-width: 100%;
  height: auto;
}

.icon-ntnu {
  padding-top: 50px;
  width: 150px;
  display: block;
  margin: 0 auto;
}

/*
----- MIDDLE -----
*/

.middle {
  height: 11.25em;
}

.middle-title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

h4.read-more {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #00509e;
}

h4.read-more:hover {
  color: #0474e4;
  cursor: pointer;
}

/*
----- BOTTOM -----
*/

.bottom {
  padding-top: 5px;
  display: grid;
  height: 30px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  justify-items: center;
  border-top: 1px solid #e5e6e9;
  padding-bottom: 5px;
}

.bottom-left {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  border-right: 1px solid lightgrey;
}

.status-wrapper {
  padding: 0;
  margin: 0;
}

.bottom-title {
  font-weight: 500;
  padding-bottom: 3px;
}

p.bottom-left-text,
p.bottom-middle-category {
  color: grey;
}

p.bottom-middle-category,
p.bottom-status-open,
p.bottom-status-closed,
p.bottom-status-testing {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

p.bottom-status-open {
  color: #2ecc71;
  font-weight: 700;
}

p.bottom-status-closed {
  color: #fa3c4c;
  font-weight: 700;
}

p.bottom-status-testing {
  color: #ffc300;
  font-weight: 700;
}