.container-footer {
  height: 100px;
  padding: 30px 25px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 16px;
  background-color: var(--main-fg-color);
  border-top: 2px solid #cecece;
}

.footer-section {
  width: 25%;
}

.footer-section.logo {
  margin: 1px 0 0 0;
}

@media only screen and (max-width: 720px) {
  .container-footer {
    display: none;
  }
}