.ticker-form-wrapper {
  padding: 20px 40px;
}

.ticker-form-title {
  text-align: center;
  color: #111;
  font-weight: 250;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.ticker-btn-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticker-btn-form button {
  background-color: #0265c8;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.ticker-btn-form.cancel button {
  background-color: #db313f;
}

.ticker-btn-form button:hover {
  background-color: #0277ec;
  transition: background-color 0.3s;
}

.ticker-btn-form.cancel button:hover {
  background-color: #fb3949;
}

.ticker-btn-form button[disabled]{
  background-color: deepskyblue;
}

.ticker-btn-form button[disabled]:hover{
  background-color: lightskyblue;
}
.ticker-btn-form button[disabled]::after{
  content: " (fyll ut feltene først)";
}
