.container-about {
  padding-bottom: 100px;
}

.main-about {
  text-align: center;
  width: 70%;
  margin: 50px auto;
  padding: 2em 1em;
  background-color: var(--main-fg-color);
  min-height: 80vh;
  border: 1px solid transparent;
  border-radius: 5px;
  border-bottom-width: 3px;
  border-color: #d0d1d5;

  /*Font etc if styling wanted*/
}

h1.title-about {
  /*headline styling*/
  font-weight: bold;
  margin-bottom: 0;
}
