/*
----- GLOBAL -----
*/

.input-wrapper label,
.form-description label,
.select label {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0.25em;
  color: black;
}

/*
----- React Modal Component -----
*/

.Modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 50rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  background: var(--main-fg-color);
  box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.24);
  overflow-y: auto;
}

/* Dark overlay behind modal */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.411);
}

/* Overlay transition */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

/*
----- FORM MAIN -----
*/

.form-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 20px 40px;
  /* border-radius: 10px; */
  /* box-shadow: 0px 10px 50px #555; */
}

.form-title {
  text-align: center;
  color: #111;
  font-weight: 250;
}

.input-wrapper {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.form-input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}



/*
----- FORM DESCRIPTION -----
*/


.form-description {
  margin-bottom: 15px;
  width: 100%;
}


/*
----- FORM SELECT -----
*/

.form-select {
  display: flex;
  flex-direction: row;
}

.select {
  width: 50%;
}

/*
----- FORM BUTTONS -----
*/

.form-button button {
  background-color: #0265c8;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.form-button button[disabled]{
  background-color: deepskyblue;
}

.form-button button[disabled]:hover{
  background-color: lightskyblue;
}
.form-button button[disabled]::after{
  content: " (fyll ut feltene først)";
}
.form-button button:hover {
  background-color: #0277ec;
  transition: background-color 0.3s;
}

.form-button.cancel button {
  background-color: #db313f;
}

.form-button.cancel button:hover {
  background-color: #fb3949;
}
