/*
----- GLOBAL/MAIN -----
*/

.container-landing {
  padding-bottom: 100px;
}

.landing-wrapper {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  min-width: 300px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: var(--main-fg-color);
  text-align: center;
}

@media only screen and (min-width: 600px) {

}

.landing-title {
  margin: 15px;
  font-size: 2em;
  color: #111;
  font-weight: 200;
}

.landing-info {
  font-weight: 300;
}

/*
----- LOGIN/REG. FORM -----
*/

.landing-form {
  margin-bottom: 15px;
}

.landing-form.content {
  width: 100%;
  padding: 0;
  margin: 20px 0;
}

.landing-form input.input {
  width: 60%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  letter-spacing: 1px;
}

input.input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.landing-btn {
}

.landing-btn button {
  background-color: #0265c8;
  color: #fff;
  border: none;
  padding: 8px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.landing-btn button:hover {
  background-color: #0277ec;
  transition: background-color 0.3s;
}


/*
----- BUTTONS/LINKS -----
*/

.landing-link {
  color: #111;
  cursor: pointer;
  margin: 5px;
}

.landing-link label {
  cursor: pointer;
  margin: 0;
}

.landing-link a:hover {
  text-decoration: none;
}

.landing-link:hover {
  color: #0265c8;
}

.landing-link.back {
  text-align: left;
  color: #111;
}

.landing-link.back:hover {
  color: #0265c8;
}
